/*------------------------------------------------------------------
[Color Stylesheet]
Project:    Eventime
Version:    2.0
Last change:    18 apr 2016
Assigned to:    http://themeforest.net/user/chaykovskiy
Primary use:    Eventime HTML Template
-------------------------------------------------------------------*/

/*!------------------------------ Main color of template #16B3FD ------------------------------*/
.navbar-nav>.active>a,
.navbar ul li a.active,
.navbar-nav>li>a:hover,
.description #clock,
.arrow_right:hover,
.arrow_left:hover,
.photo_carousel figure figcaption,
.photo_carousel figure h2 span,
.contact_icon,
.footer .link:hover,
.sposors_area  .link:hover,
a.navbar-brand:hover,
.navbar_bg_dark .active a,
.texticon, .nav .open>a,
.count,
.mask .reservation input,
.mask form.eventime_contact_form input[type=text],
.mask form.eventime_contact_form input[type=tel],
.mask form.eventime_contact_form input[type=email],
.mask form.eventime_contact_form textarea,
.count_plus,
.about_columns .fa,
.about_columns h4,
.mask form.eventime_contact_form .contact_button,
.contact a, .entry-meta span a:hover{
    color: #16B3FD;
}
.eventime_button::before, .dropdown-menu li a:hover,
.eventime_button:hover::before,
.mask form.eventime_contact_form .contact_button:hover,
.contact_icon:hover  {
    background: #16B3FD;
}
.eventime_button,
.eventime_button:hover,
.first_line,
#sh_carousel .carousel-indicators .active,
.tabs_about .active a,
.tabs_about .graybtn:hover,
.schedule_date,
.photo_carousel_ind.active,
.testimonials_carousel,
.contact_icon,
.mask form.eventime_contact_form input[type=text]:focus,
.mask form.eventime_contact_form input[type=tel]:focus,
.mask form.eventime_contact_form input[type=email]:focus,
.mask form.eventime_contact_form textarea:focus,
figure.eventime_img figcaption::before,
.eventime_modal .contact_icon:hover,
.mask form.eventime_contact_form .contact_button:hover,
.center_line {
    border-color: #16B3FD;
}
/* Gradients */
.pricing_tables_gradient,
.sposors_area_gradient,
.sposors_area,
.navbar-toggle{
/*background: -moz-linear-gradient(45deg,  rgba(244,122,191,0.8) 0%, rgba(255,174,17,0.9) 100%);
background: -webkit-linear-gradient(45deg,  rgba(244,122,191,0.8) 0%,rgba(255,174,17,0.9) 100%);
background: linear-gradient(45deg,  rgba(244,122,191,0.8) 0%,rgba(255,174,17,0.9) 100%);*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffae11', endColorstr='#e6f47abf',GradientType=1 );




}
/*!------ SVG ------ */
.pricing_ticket:hover .ticket_button svg,
svg.iconmap_pin,
.photo_carousel .right_arrow svg:hover,
.photo_carousel .left_arrow svg:hover,
#sh_carousel .right_arrow svg:hover,
#sh_carousel .left_arrow svg:hover,
.light .right_arrow svg:hover,
.light .left_arrow svg:hover,
#home_slider .left_arrow,
#home_slider .right_arrow {
    fill: #16B3FD;
}
.dropdown-menu>li>a{
    background-color: white !important;
}
/*!------------------------------ All light part color #fff ------------------------------*/
.navbar,
.navbar a,
.description h2,
.description h3,
.details,
.footer .link,
.sposors_area .link,
.tab-content,
.eventime_button,
.tabs_about .active a,
.mask .first_title,
.mask .first_description,
.photo_carousel figure h2,
.reservation_button:hover,
.reservation input[type=text]:focus,
form.eventime_contact_form input[type=text]:focus,
form.eventime_contact_form input[type=tel]:focus,
form.eventime_contact_form input[type=email]:focus,
form.eventime_contact_form textarea:focus,
#contactMsgc span,
.navbar_bg_dark a, .blog_header p,
.buttons a.active,
.mask form.eventime_contact_form .contact_button:hover,
.contact_information,
.dropdown-menu,.dropdown-menu>li>a {

}
.sponsor_basic,
.sponsor_featured {
    outline-color: #fff;
}
.speakers_row {
    background-color: #fff;
}
.tabs_about .graybtn,
.mask .reservation input,
.mask form.eventime_contact_form input[type=text],
.mask form.eventime_contact_form input[type=tel],
.mask form.eventime_contact_form input[type=email],
.mask form.eventime_contact_form textarea,
.mask form.eventime_contact_form .contact_button
  {
    border-color: #fff;
}
/*!------ SVG ------ */
.mask .pricing_ticket:hover .ticket_button svg,
.photo_carousel .right_arrow svg,
.photo_carousel .left_arrow svg,
#home_slider .left_arrow:hover,
#home_slider .right_arrow:hover {
    fill: #fff;
}
/*!------------------------------ Black color #000 ------------------------------*/
a,
a:hover,
.first_title,
.panel a,
.reservation,
.reservation_button,
.contact_icon:hover,
footer,
.sposors_area,
.navbar_bg .active a, .blog_button,
.mask form.eventime_contact_form .contact_button:hover,
.schedule_reservation,
.panel-collapse p b,
.copyright {
    color: #000;
}
.eventime_button:hover {
    color: #000 !important;
}
#preloader,
.reservation_button:hover,
.reservation input[type=text]:focus,
.reservation input[type=submit]:hover,
.navbar_bg_dark,
.navbar-toggle .icon-bar,
.dropdown-menu,.dropdown-menu>li>a {
    background-color: #e6e6e6;
}
.reservation .first_line,
footer .first_line,
.picing_ticket,
.sposors_area .first_line,
.pricing_tables_gradient .first_line,
.reservation input,
 form.eventime_contact_form input[type=text],
 form.eventime_contact_form input[type=tel],
 form.eventime_contact_form input[type=email],
 form.eventime_contact_form textarea,
.sponsor_basic,
.sponsor_featured,
.reservation_button {
    border-color: #000;
}
/*!------------------------------ Gray color #838383 ------------------------------*/
.graybtn,
.accordion_right,
.photo_carousel_ind {
    border-color: #838383;
}
/*!------ SVG ------ */
#sh_carousel .right_arrow svg,
#sh_carousel .left_arrow svg,
.light .right_arrow svg,
.light .left_arrow svg {
    fill: #838383;
}
.graytxt,
.panel-collapse p,
.arrow_right,
.arrow_left,
.navbar_bg a,
a.footer_icon:hover,
.copyright span {
    color: #838383;
}
/* Errors */
.et-input-error  {
    border-color:  red !important;
}
/*!------------------------------ Background settings | Transparents in RGBA and Background images ------------------------------*/
.nav_mask,
.footer {
    background: rgba(0, 0, 0, 0.8);
}
.nav_mask_full {
    background: rgba(0, 0, 0, 1);
}
footer,
.fill_mask {
    background-color: rgba(0, 0, 0, 0.55);
    background-image: url('../images/mask.svg');
}
.mask {
    background-color: rgba(0, 0, 0, 0.77);
}
/*Images*/
.speakers_image {
    background-image: url('../images/featured_speaker.jpg');
}
.first_image:empty,
.first_image {
    background-image: url('../images/first.jpg');
}
.tabs_about {
    background-image: url('../images/photos/2IMG_6633.jpg');
}
.pricing_tables{
    background-image: url('../images/bg_newsletter.jpg');
    background-size: cover;
}
.sposors_area {
    /*background-image: url('../images/bg_speakers.jpg');*/
    background-size: cover;
    padding-top: 0;
}
.speakers_inside_bg{
       /*background-image: url('../images/newsletter.jpg');*/
    background-size: cover;
    padding-top: 0;
}
.contact {
    background-image: url('../images/photos/2IMG_2254.jpg');
}
.sponsored {
    margin: 40px 0 40px 0;
}