.fade-enter-active{
position: relative;
    bottom: 0px;
    opacity: 1;
    transition: all .2s ease-in;
}
.fade-leave-active {
    position: relative;
    right:0px ;
    opacity: 1;
    transition: all .5s ease-out;

}
.fade-enter{
position: relative;
    bottom:100px;
    opacity: 0;

}
.fade-enter-to{
    position: relative;
    bottom: 0px;
    opacity: 1;
}
.fade-leave-to {
    position: relative;
    right: 800px;
    opacity: 0;
}
.containerCustom {max-width: 850px; width: 100%; margin: 0 auto;}
.four { width: 18%; max-width: 18%;}
.colCustom {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.formCustom .plan input{
    display: none;
}
.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
@media  screen and (min-width: 760px){
    .formCustom label{
        position: relative;
        color: #fff;
        background-color: #aaa;
        text-align: center;
        height: 50px;
        line-height: 50px;
        display: block;
        font-size: 15px;
        cursor: pointer;
        border: 3px solid transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
.formCustom label{
    position: relative;
    color: #fff;
    background-color: #aaa;
    font-size: 15px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display: block;
    cursor: pointer;
    border: 3px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formCustom .plan input:checked + label, .formCustom .payment-plan input:checked + label, .formCustom .payment-type input:checked + label{
    border: 3px solid #333;
    background-color: #2fcc71;
}
.colCustom:first-of-type { margin-left: 0; }
.formCustom .plan input:checked + label:after, form .payment-plan input:checked + label:after, .formCustom .payment-type input:checked + label:after{
    content: "\2713";
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    border: 2px solid #333;
    background-color: #2fcc71;
    z-index: 999;
    position: absolute;
    top: -10px;
    right: -10px;
}
.submitCustom{
    padding: 12px 24px;
    display: inline-block;
    border: none;
    margin: 20px 0;
    background-color: #2fcc71;
    color: #fff;
    border: 2px solid #333;
    font-size: 15px;
    -webkit-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.buttonDisable{
    pointer-events: none;
    cursor: cell;
}

.submitCustom:hover{
    cursor: pointer;
    transform: rotateX(360deg);
}